.profile{


}
.profile .headerImg{
  position: relative;
  padding: 15px;
  min-height: 200px;
  z-index: 1;
}
.profile .headerImg::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: .1;
  content: "";
  z-index: -1;
}
