.users__item, .users .users__name, .users .users__right, .users .users__left, .users .users__location {
  display: flex;
}
.users .users__right, .users .users__left, .users .users__location {
  flex-direction: column;
}

.users__item{
  margin-bottom: 20px;
  padding: 20px;
}

.users img {
  width: 100px;
  height: 100px;
}

.users .users__name{
  flex-direction: column;
  margin-bottom: 5px;
}
.users .users__name span{
  color: darkgray;
}

.users .users__right {
  justify-content: center;
}

.users .users__left {
  align-items: center;
}


.users button {
  text-decoration: none;
  display: block;
  width: 117px;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #c68f7d;
  color: #293380;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
  cursor: pointer;
}

.users button:hover{
  background-color: #c68f7d;
  color: white;
}

.users button:disabled{
  opacity: .2;
}
.pages {
  display: flex;
  justify-content: center;
  list-style: none;
}
.pages .pages__links{
  color: #000000;
  text-decoration: none;
  transition: 0.3s color;
  font-family: Fira Sans, sans-serif;
  display: block;
  width: 100%;
  padding: 5px 0;
  border: 1px solid darkgray;
  border-radius: 3px;
}
.pages .pages__item {
  text-align: center;
  background-color: #f5f1f3;
  font-size: 15px;
  min-width: 40px;
  cursor: pointer;
  transition: .3s background-color;
  margin-right: 2px;
}
.pages .pages__selected, .pages .pages__item:hover {
  background-color: #9b413f;
}
.pages .pages__selected, .pages .pages__links:hover {
  color: white;
}