.users {
  &__item,
  &__name,
  &__right,
  &__left {
    display: flex;
  }

  &__right,
  &__left {
    flex-direction: column;
  }

  &__item {
    padding: 20px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  &__name {
    flex-direction: column;
    margin-bottom: 5px;

    span {
      color: darkgray;
    }
  }

  &__right {
    justify-content: center;
  }

  &__left {
    align-items: center;
    min-width: 157px;
  }

  &__pages {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__links {
    color: black;
    text-decoration: none;
    font-family: Fira Sans, sans-serif;
    display: block;
    width: 100%;
    padding: 5px 0;
    // border-top: 1px solid #c68f7d;
    // border-bottom: 1px solid #c68f7d;
  }

  &__btn-paginator {
    font-size: 15px;
    min-width: 40px;
    text-align: center;
    background-color: #f5f1f3;

    &.disabled,
    &.disabled:hover {
      opacity: 0.3;
      background-color: #f5f1f3;

      .users__links {
        cursor: not-allowed;
      }
    }

    .users__links[aria-label='Go to last page'] {
      border-right: 1px solid #c68f7d;
    }

    .users__links[aria-label='Go to first page'] {
      border-left: 1px solid #c68f7d;
    }
  }

  &__selected,
  &__selected:hover {
    color: #ffffff;
    cursor: default;
    .users__links {
      color: #ffffff;
    }
  }

  &__selected,
  &__btn-paginator:hover {
    background-color: #c68f7d;
  }

  &__links:hover {
    color: #ffffff;
  }

  // .btn,
  // .btn:disabled:hover {
  //   display: block;
  //   width: 117px;
  //   margin: 10px 20px;
  //   padding: 10px 30px;
  //   position: relative;
  //   border: 1px solid #c68f7d;
  //   background-color: rgb(248, 236, 236);
  //   color: #293380;
  //   font-family: 'Montserrat', sans-serif;
  // }

  // .btn:hover {
  //   background-color: #c68f7d;
  //   color: #fff;
  //   &.fetching {
  //     cursor: default;
  //   }
  // }

  // .btn:disabled {
  //   opacity: 0.3;
  // }
}
