.users__item, .users .users__name, .users .users__right, .users .users__left, .users .users__location {
  display: flex;
}
.users .users__right, .users .users__left, .users .users__location {
  flex-direction: column;
}

.users__item{
  margin-bottom: 20px;
  padding: 20px;
}

.users img {
  width: 100px;
  height: 100px;
}

.users .users__name{
  justify-content: space-evenly;
}

.users .users__right {
  justify-content: space-between;
  width: 60%;
  border: 1px solid #293380;
}

.users .users__left {
  align-items: center;
}

.users .users__location{
  align-items: flex-end;
}

.users button {
  text-decoration: none;
  display: block;
  width: 117px;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  color: #293380;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
  cursor: pointer;
}

.users button:disabled{
  opacity: .2;
}
.pages {
  display: flex;
  justify-content: center;
  list-style: none;
}
.pages li {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.selected {
  color: #ff7008;
}