.myPosts{
  width: 50%;
  padding: 10px;
}
.myPosts button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  transition: background-color .3s;
}
.myPosts button:hover{
  background-color: #5dd662;
}
.addPostAreaX {
  display: flex;
  flex-direction: column;
}

.addPostAreaX label {
  text-align: left;
  margin-bottom: 10px;
}
.addPostAreaX textarea {
  width: 60%;
  resize: none;
  border: 2px solid transparent;
  transition: .5s border-color;
}
.addPostAreaX .inputPlusErrorSpan {
  display: flex;
}
