.notFound{
  width: 100vw;
  height: 100vh;
  color: #06e7ff;
  font-size: 35px;
  text-align: center;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block{
  width: 50vw;
  padding: 20px;
  height: max-content;
  border: 1px solid mistyrose;
}
.goBack{
  cursor: pointer;
  text-decoration: underline;

}
