button {
  background-color: #c68f7d;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  transition: background-color .3s;

  &:hover {
    background-color: #a76b56;
    cursor: pointer;
  }
}