.header{
  width: 100%;
  background: rgb(236,236,245);
  background: linear-gradient(41deg, rgba(236,236,245,1) 16%, rgba(198,143,125,1) 83%);
  box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.25);

}
.header img {
  padding-left: 20px;
  width: 100px;
}
.login {
  float: right;
}