.profile__avatar-block{
  display: flex;
  align-items: center;
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label{
    cursor: pointer;
    img{
      width: 30px;
      height: 30px;
      transition: opacity .2s;
    }
    img:hover{
      opacity: .5;
    }
  }
}