.profile {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 15px 15px 0 15px;
    min-height: 200px;
  }
  .preloader {
    min-height: 122.4px;
    padding-left: 40px;
    justify-content: flex-start;
    align-items: center;
  }
}
