.my-posts{
  &__item {
    font-size: 14px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    border: 1px solid rgba(0,0,0,.15);
    img {
      height: 13px;
      width: 13px;
    }
  }
  &__likes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
  }
  strong{
    line-height: 13px;
  }

}