.form-wrap {
  textarea {
    resize: none;
    border: 2px solid transparent;
    transition: 0.5s border-color;
  }
  &__active {
    animation: 0.5s ticking;
    margin-left: 10px;
  }
  &.error {
    textarea {
      border-color: red;
    }
    input {
      border: 2px solid red;
    }
    span {
      color: red;
      svg {
        margin-right: 5px;
        margin-bottom: -2px;
      }
    }
  }
}

@keyframes ticking {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
