
.form {
  width: 280px;
  margin: 30px;
}

.formItems {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.formItems input {
  margin-left: 10px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffd78b;
}

.formItem {
  flex: 0 1 50%;
}

label {
  text-align: right;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.form button {
  display: block;
  width: 90px;
  height: 40px;
  margin: 15px auto;
  background-color: #00ba00;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .3s;
}

.form button:hover {
  background-color: #00d900;
}

